/* Big tablet to 1200px (width smaller than the 1140 row) */

@media only screen and (max-width: 1200px) {
    .row { padding: 0 2%; }

    .main-nav li {
        margin-left: 50px;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

    .main-nav { width: 30%; }

    .row { padding: 0 4%; }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .project { margin-bottom: 20px; }

    .personal { width: 60%; }

    .photo img {
        width: 47%;
    }

    .main-nav { display: none; }
    .mobile-nav-icon { display: inline-block; }

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 20px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }

}

/* Big phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    .main-nav { margin-left: 0px; }

    .row.main-nav { padding: 0 1%; }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 6px 0;
    }

    .personal {
        padding: 0;
        width: 40%;
    }

    .photo {
        margin: 50px 0;
    }

    .photo img {
        width: 50%;
    }
}

/* Small phones to big phones: from 421 to 480px */

@media only screen and (max-width: 480px) {
    .long-copy {
        width: 90%;
        margin-left: 5%;
    }

    .main-nav { margin-top: 10px; }

    .name-text h1 { font-size: 180%; }
    .name-text h2 { font-size: 120%; }

    /* figure { text-align: right; } */

    .photo {
        margin: 20px 0;
    }

    .photo img {
        width: 55%;
    }

    footer p.phone {
    text-align: center;
}

    footer p.email {
        text-align: center;
    }

    /* Small phones: from 0 to 420px */
    @media only screen and (max-width: 420px) {
        .main-nav { font-size: 70%; }
    }

    nav .row { 
        padding-left: 0;
    }

    .name-text h1 { font-size: 150%; }
    .name-text h2 { font-size: 110%; }
}