/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */

.icon-big {
    font-size: 200%;
    /* display: block; */
    margin-bottom: 10px;
}

.eating {
    width: 30px;
    margin-right: 20px;
}

.fashion {
    width: 60px;
    margin-right: 20px;
}

.patent {
    width: 50px;
    margin-right: 20px;
    margin-bottom: -3px;
}

.js-icon {
    width: 40px;
}

.react-icon {
    width: 60px;
    margin-left: -5px;
}

.redux-icon {
    width: 35px;
    margin-bottom: 5px;
}

.rails-icon {
    width: 35px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.jquery-icon {
    width: 35px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.api-icon {
    width: 40px;
    margin-bottom: 3px;
    margin-left: 15px;
}

.ruby-icon {
    width: 40px;
    margin-bottom: 8px;
    margin-left: 15px;
}

.sinatra-icon {
    width: 60px;
    margin-bottom: -4px;
    margin-left: 15px;
}

.sqlite-icon {
    width: 90px;
    margin-bottom: 3px;
    margin-left: 15px;
}

.demo-icon {
    width: 35px;
    margin-bottom: 5px;
    margin-left: 15px;
    color: #e67e22;
}

.project-icon {
    margin: 0 20px;
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/clement-h-544786-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* Main navi */

.main-nav {
    float: center;
    list-style: none;
    margin-top: 55px;
    width: 80%;
    margin-left: 10%;
}

.main-nav li {
    display: inline-block;
    margin-left: 70px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.main-nav li.github a:link,
.main-nav li.github a:visited,
.main-nav li.linkedin a:link,
.main-nav li.linkedin a:visited {
    border-bottom: none;
    transition: color 0.2s;
}

.main-nav li.github a:hover,
.main-nav li.github a:active {
    border-bottom: none;
    color: #ffa500;
}

.main-nav li.linkedin a:hover,
.main-nav li.linkedin a:active {
    border-bottom: none;
    color: #007bb5;
}

/* Personal */

.personal {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.photo {
    text-align: center;
    margin: 70px 0;
}

.photo img {
    width: 20%;
}

.name-text h2 {
    color: #fff;
}

/* ---------------------------------------------- */
/* TECHNICAL PROJECTS */
/* ---------------------------------------------- */

div.project {
    text-align: center;
}

.project {
    margin-top: 20px;
    margin-bottom: 40px;
}

.project div {
    display: inline-block;
    /* text-align: center; */
    /* float: left; */
    padding: 5px;
    /* margin-right: 10px; */
}

.project-name {
    display: inline-block;
}

.projects h2 {
    font-weight: 400;
}

.project h3 {
    font-size: 125%;
    font-weight: 400;
    margin-bottom: 20px;
}

.project:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.project-link a:link,
.project-link a:visited {
    color: #e67e22;
    transition: color 0.2s;
}

.project-link a:hover,
.project-link a:active {
    color: #9977de;
}

/* .main-nav li.github a:hover,
.main-nav li.github a:active {
    border-bottom: none;
    color: #ffa500;
} */